@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

section header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section header .logo {
  position: relative;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section header .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../multimedia/icons/menu.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section header .toggle.active {
  background: url(../multimedia/icons/close.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 25px;
}

section header .toggle::before {
  content: "Menu";
  position: absolute;
  right: 45px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 2px 5px;
  background: white;
  color: black;
}

section header .toggle.active::before {
  content: "Close";
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .social-media {
  position: absolute;
  bottom: 40px;
  right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

section .social-media li {
  list-style: none;
  margin: 5px;
  padding: 0 6px;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: calc(0.2s * var(--i));
          transition-delay: calc(0.2s * var(--i));
}

section .social-media li a {
  color: black;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

section .content {
  position: relative;
  z-index: 10;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

section .content h2 {
  position: relative;
  color: white;
  font-size: 10vw;
  line-height: 1em;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  font-family: "Orbitron", sans-serif;
}

section .content h2 span {
  font-size: 0.2em;
  font-weight: 300;
  letter-spacing: 5px;
  background: white;
  color: black;
  padding: 0 10px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

section .navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

section .navigation li {
  list-style: none;
  text-align: center;
  margin: 15px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition-delay: calc(0.2s * var(--i));
          transition-delay: calc(0.2s * var(--i));
}

section .navigation li a {
  color: white;
  font-size: 1.5em;
  letter-spacing: 4px;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0);
  padding: 4px 10px;
  display: inline-block;
}

section .navigation li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

section.active .glass {
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

section.active .content {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

section.active .social-media li {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

section.active .navigation li {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@media (max-width: 991px) {
  section header {
    padding: 5px;
  }
  section .social-media {
    bottom: 20px;
    right: 20px;
  }
  section .glass {
    width: 50%;
  }
  section .content h2 {
    font-size: 14vh;
  }
  section .content h2 span {
    font-size: 0.25em;
    letter-spacing: 2px;
    padding: 0 5px;
  }
}
/*# sourceMappingURL=style.css.map */