@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;

    header{
        position: absolute;
        top: 0;
        width: 100%; 
        padding: 40px 100px;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            position: relative;
            font-size: 2em;
            color: white; 
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;
            text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
            transition: 0.5s;
        }
        .toggle{
           position:relative; 
           width: 40px; 
           height: 40px;
           background: url(../multimedia/icons/menu.png);
           background-position: center;
           background-repeat: no-repeat;
           cursor: pointer; 
           background-size:30px;
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .toggle.active{
           background: url(../multimedia/icons/close.png);
           background-position: center;
           background-repeat: no-repeat;
           cursor: pointer; 
           background-size:25px;
        }
        .toggle::before{

            content: "Menu";
            position: absolute;
            right: 45px;
            text-transform: uppercase;
            color: white;
            letter-spacing: 2px;
            font-size: 18px;
            padding: 2px 5px;
            background: white;
            color: black;
        }
        .toggle.active::before{
            content: "Close";
        }
    }

    video{
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .social-media{
        position: absolute;
        bottom: 40px;
        right: 100px; 
        display: flex;
        z-index: 100;
        li{
            list-style: none;
            margin: 5px;
            padding: 0 6px;
            background: white;
            transition: 0.5s;
            transition-delay: calc(0.2s * var(--i));
            a{
                color: black; 
                text-decoration: none;
                display: inline-block;
                letter-spacing: 2px;
                font-weight: 500;
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }
    .content{
        position: relative;
        z-index: 10; 
        text-align: center;
        transition: 0.5s;
        transition-delay: 1s;

        h2{
            position: relative;
            color: white;
            font-size: 10vw;
            line-height: 1em;
            text-shadow: 0 5px 5px rgba(0,0,0,0.2);
            font-family: "Orbitron", sans-serif;
            span{
                font-size: 0.2em;
                font-weight: 300;
                letter-spacing: 5px;
                background: white;
                color: black;
                padding: 0 10px;
                text-shadow: 0 5px 5px rgba(0,0,0,0.2);
                box-shadow: 0 5px 5px rgba(0,0,0,0.2);
                text-transform: uppercase;
            }
        }
    }
    .navigation{
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        z-index: 100;
        li{
            list-style: none;
            text-align: center;
            margin: 15px 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            transform: translateX(200px);
            transition-delay: calc(0.2s * var(--i));
            a{
               color: black; 
               font-size: 1.5em;
               letter-spacing: 4px;
               text-decoration: none;
               font-weight: 300;
               text-transform: uppercase;
               background: white;
               padding: 4px 10px; 
               display: inline-block;
            }
            a:hover{
                background: black;
                color: white;
            }
        }
    }

}
.glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; 
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(15px);
    box-shadow: 10px 0 15px rgba(0,0,0,0.1);
    transition: 0.5s;
    transition-delay: 0.5s;
}
section.active{
    .glass{
        width: 100%;
        backdrop-filter: blur(20px);
        transition-delay: 0s;
    }
    .content{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-200px); 
        transition-delay: 0s;
    }
    .social-media{
        li{
            opacity: 0;
            visibility: hidden;
            transform: translateY(100px);
        }
    }
    .navigation{
        li{
            opacity: 1;
            visibility: visible;
            transform: translateX(0px);
        }
    }
}

@media (max-width: 991px){
    section{
        header{
            padding: 20px;
        }
       .social-media{
           bottom: 20px; 
           right: 20px;
        } 
       .glass{
           width: 50%; 
        }
       .content{
           h2{
               font-size: 14vh;
               span{
                   font-size: 0.25em;
                   letter-spacing: 2px;
                   padding: 0 5px;
                }
            }
        }
    }
}
